BasedOnStyle: LLVM

# indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4

# braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterControlStatement: Never
  AfterFunction: false

# spacing
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: Never
SpaceInEmptyParentheses: false
SpaceBeforeCpp11BracedList: false

# compact operators
SpaceAroundPointerQualifiers: Default
DerivePointerAlignment: false
PointerAlignment: Left

# line breaking
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: None
AlignOperands: DontAlign

# comments
SpacesBeforeTrailingComments: 0
SpacesInLineCommentPrefix:
  Minimum: 0
  Maximum: 0

# alignment
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Left
AlignTrailingComments: false
AlignAfterOpenBracket: Align

# includes
SortIncludes: false
IncludeBlocks: Preserve

# braced lists
Cpp11BracedListStyle: true

# keep empty lines
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: true

# binary operators
BreakBeforeTernaryOperators: true

# function calls
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

# penalties
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000