# Build
build/*
!build/.gitkeep
compile_commands.json

# Dependencies
dependencies/*
!dependencies/.gitkeep

dependencies/luau/*
!dependencies/luau/.git

dependencies/bgfx.cmake/*
!dependencies/bgfx.cmake/.git

dependencies/glfw/*
!dependencies/glfw/.git

dependencies/glm/*
!dependencies/glm/.git


# Locally Generated Documentation
scripts/documentation/api-dump.json
docs/*
!docs/.gitkeep