[submodule "dependencies/luau"]
	path = dependencies/luau
	url = https://github.com/luau-lang/luau.git
    ignore = dirty

[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
    ignore = dirty
	
[submodule "dependencies/bgfx.cmake"]
	path = dependencies/bgfx.cmake
	url = https://github.com/widberg/bgfx.cmake.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
